/* Paleta de colores */

.color1 {color: #001b48;}
.color2 {color: #004581;}
.color3 {color: #018abd;}
.color4 {color: #97cbdc;}
.color5 {color: #dde8f0;}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    user-select: none;
}
[v-cloak]{
    display: none;
}
/* HEADER */

header{
    padding: 1.5rem 0 3rem 0;
    background-image: url("../assets/rm373batch2-04.jpg");
    background-size: cover;
    background-position: bottom;
}
a#language{
    padding: 1rem !important;
    color: #dde8f0;
    text-decoration: none;
}
a#language:hover{
    text-decoration: underline;
}
img.img-profile{
    width: 120px !important;
    height: 120px !important;
    border-radius: 50%;
    margin-bottom: 1rem;
}
h1#name, h3#title{
    text-align: center;
    color: #dde8f0;
}
img.icon-header{
    margin-right: 1rem !important;
}

/* CONTENIDO */

main{
    margin: 1rem 2rem 1rem 2rem;
}
div#about-me{
    background: linear-gradient(to top, #001b48, #004581);  
    color: #dde8f0;
    padding: 1rem 1.5rem 0 1.5rem !important;
}
h4.card-title{
    text-align: center;
    margin-bottom: 1rem;
}
p.about-me{
    text-indent: 48px !important;
}
div#html{
    text-align: center !important;
}
div#wordpress{
    text-align: center;
}
img.icon{
    margin-right: .5rem !important;
}
h2.projects{
    text-align: center;
    margin-bottom: 1rem;
    font-style: italic;
}
div#carouselExampleSlidesOnly,
div#carouselExampleSlidesOnly1,
div#carouselExampleSlidesOnly2,
div#carouselExampleSlidesOnly3,
div#carouselExampleSlidesOnly4{
    border-top: 2px solid #004581;
    border-right: 2px solid #004581;
    border-left: 2px solid #004581;
}
div#projects{
    border-right: 2px solid #004581;
    border-bottom: 2px solid #004581;
    border-left: 2px solid #004581;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
button.accordion-button{
    background: linear-gradient(to top, #001b48, #004581, #001b48);
    color: #dde8f0;
    font-size: large;
}
button.accordion-button:not(.collapsed){
    background: linear-gradient(to top, #001b48, #004581, #001b48);
    color: #dde8f0;
}
div.accordion-body{
    border: none;
}
p.text-card{
    text-indent: 48px !important;
}
a.project, a.project-2{
    background-color: #018abd;
    border: none;
}
a.project:hover, a.project-2:hover{
    background-color: #004581;
    text-decoration: underline;
}
h6.title-card{
    border-left: 3px solid #018abd;
    padding: .3rem 0 .3rem .8rem;
    margin-left: .8rem;
}

/* FOOTER */

footer{
    background-color: #004581;
    padding: 1rem 0 .2rem 0 !important;
}
p#footer-page{
    color: #dde8f0;
    text-align: center;
    font-weight: 600;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    /* CONTENIDO */

    p.text-card{
        text-indent: 32px !important;
    }
}

@media screen and (max-width: 425px) {
    /* HEADER */

    header{
        background-position: top;
    }
    a#language{
        padding: .5rem !important;
    }
    img.img-profile{
        width: 90px !important;
        height: 90px !important;
    }
    h3#title{
        font-size: large !important;
    }
    img.icon-header, img.icon-header-2{
        width: 24px !important;
        margin-top: .8rem !important;
    }

    /* CONTENIDO */

    div#about-me{
        padding: .5rem .8rem 0 .8rem !important;
    }
    p.about-me{
        text-indent: 24px !important;
    }
    div#html{
        margin-bottom: 1rem;
    }
    p.text-card{
        text-indent: 24px !important;
    }
    a.project{
        margin-bottom: .5rem !important;
    }

    /* FOOTER */

    p#footer-page{
        font-size: small !important;
    }
}

@media screen and (max-width: 375px) {
    /* HEADER */

    img.img-profile{
        width: 80px !important;
        height: 80px !important;
    }
    h1#name{
        font-size: x-large !important;
    }
    h3#title{
        font-size: medium !important;
    }

    /* FOOTER */

    footer{
        padding: 1rem .5rem .2rem .5rem !important;
    }
    p#footer-page{
        font-size: x-small !important;
    }
}

@media screen and (max-width: 320px) {
    /* HEADER */

    img.img-profile{
        width: 70px !important;
        height: 70px !important;
    }

    /* CONTENIDO */

    p.about-me{
        font-size: smaller;
    }
    img.icon{
        margin-right: .2rem !important;
    }
    p.text-card{
        font-size: small !important;
    }
}